extends layout

block content

    .container.space
        .row
            .col-md-2.offset2
                img(src="static/images/cpu.png")
                div.btn.btn-large
                    //- img(src="static/images/cpu.png")
                    button.btn.btn-large.dropdown-toggle(type="button",
                     data-toggle="dropdown",
                     aria-haspopup="true",
                     aria-expanded="false")
                     
                        span action

                    ul.dropdown-menu
                        li 
                            //- img(src="static/images/cpu.png")
                            a(href="#") testing
                        
                        li 
                            a(href="#") testing
                        
                        li 
                            a(href="#") your mom
            .col-md-2.offset2
                img(src="static/images/cpu.png")
                div.btn.btn-large
                    //- img(src="static/images/cpu.png")
                    button.btn.btn-large.dropdown-toggle(type="button",
                     data-toggle="dropdown",
                     aria-haspopup="true",
                     aria-expanded="false")
                     
                        span action

                    ul.dropdown-menu
                        li 
                            //- img(src="static/images/cpu.png")
                            a(href="#") testing
                        
                        li 
                            a(href="#") testing
                        
                        li 
                            a(href="#") your mom
    
    